@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&display=swap');

@layer base {
	html {
	  font-family: 'Montserrat', system-ui, sans-serif;
	}
   }

body {
	min-width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	background: #fff;
   }

.carousel {
	display: inline-flex;
	overflow-x: hidden;
	/*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
	scroll-snap-type: x mandatory;
	/* all below will hide the scrollbar on all browsers.    */
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	/* For Firefox */
	-ms-overflow-style: none;
	/* For Internet Explorer and Edge */
}

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #4DAA57;
	fill: none;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 4;
	stroke: #fff;
	stroke-miterlimit: 10;
	/* margin: 10% auto; */
	box-shadow: inset 0px 0px 0px #4DAA57;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.link-underline {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
	background-size: 0 1px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size .15s ease-in-out;
}

.link-underline-black {
	background-image: linear-gradient(transparent, transparent), linear-gradient(#FFBF00, #FFBF00)
}

.link_active {
	cursor: pointer;
	background-size: 100% 1px;
	background-position: 0 100%
}

.link-underline:hover {
	cursor: pointer;
	background-size: 100% 1px;
	background-position: 0 100%
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {

	0%,
	100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #4DAA57;
	}
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}